### MacOS ###
.DS_Store

### Xcode ###
/Packages
xcuserdata/
DerivedData/
*.xcuserstate

### SPM ###
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

### asdf ###
/.tool-versions

### Cursor / VSCode ###
/.vscode
